RewriteEngine On
#RewriteBase /slim_bp/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

Header set X-UA-Compatible "IE=edge"

#AuthUserFile .htpasswd
#AuthGroupFile /dev/null
#AuthName EnterPassword
#AuthType Basic
#require user deepwaterbp


