<?php 
  $review_data = $data['review'];
  $p = $_SERVER['REQUEST_URI']; 
  $e = explode('/', $p);
  for ($i = 0; $i < count($review_data); $i++) {
    if (in_array($e[count($e)-1], $review_data[$i])) {
      $title = $review_data[$i]['title'];
      $width = $review_data[$i]['width'];
      $height = $review_data[$i]['height'];
      $vid_src = $review_data[$i]['vid_url'];
      $poster_src = $review_data[$i]['vid_poster_url'];
      $content = $review_data[$i]['content'];
    }
  } 
?>

<section class="showcase-single showcase-video" title="<?=$title;?>">

  <figure class="video-js-box"><!-- Begin VideoJS -->

    <video 
      id="video_sample" 
      class="video-js vjs-default-skin" 
      controls 
      preload="none" 
      width="<?=$width;?>" 
      height="<?=$height;?>" 
      poster="<?=$poster_src;?>" 
      title="<?=$title;?>"
      data-setup="{}">
      
        <source src="<?=$vid_src;?>" type='video/mp4' />

        <object 
          id="flash_fallback" 
          class="vjs-flash-fallback" 
          width="<?=$width;?>" 
          height="<?=$height;?>" 
          type="application/x-shockwave-flash" 
          data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">

            <param 
              name="movie" 
              value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
            <param 
              name="allowfullscreen" 
              value="true" />
            <param 
              name="flashvars" 
              value='config={"playlist":["<?=$poster_src;?>", {"url": "<?=$vid_src;?>","autoPlay":false,"autoBuffering":true}]}' />
            <img 
              src="<?=$poster_src;?>" 
              width="<?=$width;?>" 
              height="<?=$height;?>" 
              alt="Poster Image" 
              title="No video playback capabilities." />

      </object>

    </video>

    <figcaption class="content">
      <?=$content;?>
    </figcaption>

  </figure><!-- End VideoJS -->

</section>




