<?php 
  $review_data = $data['review'];
  $p = $_SERVER['REQUEST_URI']; 
  $e = explode('/', $p);
  print_r($p);
  //print_r($review_data);
  for ($i = 0; $i < count($review_data); $i++) {
    if (in_array($e[4], $review_data[$i])) {
      $width = $review_data[$i]['width'];
      $height = $review_data[$i]['height'];
      $vid_src = $review_data[$i]['vid_url'];
      $poster_src = $review_data[$i]['vid_poster_url'];
      $content = $review_data[$i]['content'];
    }
  } 
?>

<div class="showcase-single showcase-video">

  <div class="video-js-box"><!-- Begin VideoJS -->

    <video 
      class="video-js vjs-default-skin" 
      controls 
      preload="none" 
      width="<?php echo $width; ?>" 
      height="<?php echo $height; ?>" 
      poster="<?php echo $poster_src; ?>" 
      data-setup="{}">
      
        <source src="<?php echo $vid_src; ?>" type='video/mp4' />

        <object 
          id="flash_fallback_1" 
          class="vjs-flash-fallback" 
          width="<?php echo $width; ?>" 
          height="<?php echo $height; ?>" 
          type="application/x-shockwave-flash" 
          data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">

            <param 
              name="movie" 
              value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
            <param 
              name="allowfullscreen" 
              value="true" />
            <param 
              name="flashvars" 
              value='config={"playlist":["<?php echo $vid_src; ?>", {"url": "<?php echo $vid_src; ?>","autoPlay":false,"autoBuffering":true}]}' />
            <img 
              src="<?php echo $poster_src; ?>" 
              width="<?php echo $width; ?>" 
              height="<?php echo $height; ?>" 
              alt="Poster Image" 
              title="No video playback capabilities." />

      </object>

    </video>

  </div><!-- End VideoJS -->

  <div class="content">
    <?php echo $content; ?>
  </div>

</div>




