<div class="showcase">

    <?php $review_data = $data['review']; ?>
    <?php for ($i = 0; $i < count($review_data); $i++) { ?>
    <?php $slug = $review_data[$i]['slug']; ?>
    <?php $type = $review_data[$i]['type']; ?>
    <a href="./<?=$type;?>/<?=$slug;?>" class="item">
			<img src="http://mt.pennebaker.com/clients/bp/d7/templates/_assets/img/filler-block.jpg">
			<h1>Scene00: Title</h1>
			<p>Status: in production</p>
		</a>
    <?php } ?>



<!-- 		<a href="d7-video-edit" class="item">
			<img src="http://mt.pennebaker.com/clients/bp/d7/templates/_assets/img/filler-block.jpg">
			<h1>Full Edit: Version 2</h1>
			<p>Status: in production</p>
		</a>
		
		<a href="sc01" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 01: The next big challenge</h1>
			<p>Status: in production</p>
		</a>
  
		<a href="sc02" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 02: Waterflooding breakthrough</h1>
			<p>Status: in production, missing assets</p>
		</a>
		
		<a href="sc03" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 03: Seismic Imaging</h1>
			<p>Status: in production, missing assets</p>
		</a>
		
		<a href="sc04" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 04: HPHT and Thunderhorse</h1>
			<p>Status: in production, missing assets</p>
		</a>
		
		<a href="sc05" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 05: Paleogene</h1>
			<p>Status: in production</p>
		</a>
		
		<a href="sc06" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 06: Future frontier</h1>
			<p>Status: in production</p>
		</a>
		
	    <a href="sc07" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 07: GOM Incident</h1>
			<p>Status: in production</p>
		</a>

		  <a href="sc08" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 08: Deepwater basins</h1>
			<p>Status: in production</p>
		</a>

		<a href="sc09" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 09: 20K™ reveal</h1>
			<p>Status: in production</p>
		</a>

		<a href="sc10" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 10: Greater than 15ksi challenge</h1>
			<p>Status: in production</p>
		</a>

		<a href="sc11" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 11: Global team</h1>
			<p>Status: in production</p>
		</a>

		<a href="sc12" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 12: 20K™ technology</h1>
			<p>Status: in production</p>
		</a>

		<a href="sc13" class="item">
			<img src="http://placehold.it/292x164">
			<h1>Scene 13: Ending</h1>
			<p>Status: in production</p>
		</a>
		
		<a href="#" class="item">
			<img src="http://mt.pennebaker.com/clients/bp/d7/templates/_assets/img/filler-block-light.jpg">
			<h1>&nbsp;</h1>
			<p>&nbsp;</p>
		</a>
	</div> -->
	
	<div>&nbsp;</div>

</div>

