<div class="login">

	<h1>Log in</h1>

  <form
    action="."
    method="post"
    tabindex="1"
    class="accessiblyHideLabels">

		<label for="username" title="Please provide your given username">Username</label>	
		<input id="username" name="username" type="text" placeholder="Username" />
		<label for="password" title="Please provide a password">Password</label>
		<input id="password" name="password" type="password" placeholder="Password" />
		<input type="submit" value="Log In" />

	</form>
	
</div>

