<!-- VIDEO VARS -->
<?php
	
	$vid_url = "http://mt.pennebaker.com/clients/bp/d7/templates/_assets/previews/videos/sc10sh01-web.mp4";
	$poster_url = "http://mt.pennebaker.com/clients/bp/d7/templates/_assets/previews/images/sc10-poster.jpg";
	
	$vid_width = "960";
	$vid_height = "540";
	
?>



<div class="showcase-single">

  <div class="video-js-box"><!-- Begin VideoJS -->
		<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="<?php echo $vid_width; ?>" height="<?php echo $vid_height; ?>" poster="<?php echo $poster_url; ?>" data-setup="{}">
			<source src="<?php echo $vid_url; ?>" type='video/mp4' />
			<object id="flash_fallback_1" class="vjs-flash-fallback" width="<?php echo $vid_width; ?>" height="<?php echo $vid_height; ?>" type="application/x-shockwave-flash" 
			data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
				<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
				<param name="allowfullscreen" value="true" />
				<param name="flashvars" 
				value='config={"playlist":["<?php echo $poster_url; ?>", {"url": "<?php echo $vid_url; ?>","autoPlay":false,"autoBuffering":true}]}' />
				<img src="<?php echo $poster_url; ?>" width="<?php echo $vid_width; ?>" height="<?php echo $vid_height; ?>" alt="Poster Image" title="No video playback capabilities." />
			</object>
		</video>
  </div><!-- End VideoJS -->

  <div class="content">
	<h1>Scene 02: Waterflooding breakthrough</h1>
    <p>	<strong>Visuals:</strong> Original animated sequence<br /> 
		<strong>Responsible:</strong> Pennebaker<br /> 
		<strong>Status:</strong> in production</p>
  </div>

</div>




